<a href="https://colab.research.google.com/github/VallecilloIgnacioM/DataScienceCoder/blob/main/Pandas_Vallecillo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Propiedad de Ignacio Manuel Vallecillo**

Montaje de Drive y localizacion de la base de datos a utilizar

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd /content/drive/MyDrive/Coderhouse-DataScience2022/29745-data-science/Clase 06 - Introducción a la manipulación de datos con Pandas (Parte II)

/content/drive/MyDrive/Coderhouse-DataScience2022/29745-data-science/Clase 06 - Introducción a la manipulación de datos con Pandas (Parte II)

In [ ]:
%ls

'Clase 06 - Guión de Clase.docx'
'Clase 6 - Introducción a la manipulación de datos con Pandas (Parte II).pptx'
 pune_1965_to_2002.csv
 summer_Olympic_medals_1976_to_2008.csv
'us_presidents 2.csv'

**Importacion de librerias**

In [ ]:
import pandas as pd
import numpy as np

# 1. Construir un objeto de series de tiempo con el índice igual al año de los juegos olímpicos

Praparacion de los datos

In [ ]:
df_olimpia = pd.read_csv('summer_Olympic_medals_1976_to_2008.csv', encoding='latin-1')
# Limpiar de NaN la columna Year del df
df_olimpia = df_olimpia.dropna(subset=['Year'])

In [ ]:
# Obtenemos los años como lista para utilizar de indices
indice = list(df_olimpia.Year)
# Transformamos los indices en valores Int
indice = [int(x) for x in indice]

In [ ]:
# Eliminamos la columna Year, ya que usaremos la misma para la indexacion.
df_olimpia = df_olimpia.drop('Year',axis=1)

In [ ]:
# Obtenemos las columnas.
columnas = df_olimpia.columns[0:]
columnas

Index(['City', 'Sport', 'Discipline', 'Event', 'Athlete', 'Gender',
       'Country_Code', 'Country', 'Event_gender', 'Medal'],
      dtype='object')

In [ ]:
# Obtenemos todas las filas
values = df_olimpia.values[:,:]

Creamos el DataFrame con los Años como Indices

In [ ]:
df_olimpia_year = pd.DataFrame(values, index=indice, columns=columnas)
#df_olimpia_year = df_olimpia_year.dropna(axis=0)
df_olimpia_year.tail()

,City,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
2008,Beijing,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold
2008,Beijing,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver
2008,Beijing,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold
2008,Beijing,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold

# 2. Separar nombres de apellidos en dos columnas distintas usando la coma como separador

In [ ]:
# Creamos una Serie en base a la columna Athlete para poder manipularla.
Athlete_nombres = pd.Series(df_olimpia_year['Athlete'])

# Separamos los apellidos de los nombres con la funcion split() pasandole a partir de que patron queremos dividirlo, en este paso ','.
Lista_Apellido_Nombre = Athlete_nombres.str.split(pat=',') 

# Guardamos apellidos y nombres por separado para crear el DF asi visualizarlo en forma de tabla
apellidos = Lista_Apellido_Nombre.str[0]
nombres = Lista_Apellido_Nombre.str[1]

# Creacion del DataFrame con los apellidos y nombre por separado en dos columnas
df_name= pd.DataFrame({'Apellido':apellidos, 'Nombre':nombres})
df_name.tail()

       Apellido       Nombre
2008     GUENOT   Christophe
2008  KVIRKELIA     Manuchar
2008    RAHIMOV      Vitaliy
2008     GUENOT       Steeve
2008      LOPEZ       Mijain

# 3. Obtener medidas resumen del conjunto de datos. Cuál es el país que ganó más medallas?

In [ ]:
df_olimpia_year.describe()

,City,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
count,15316,15316,15316,15316,15316,15316,15316,15316,15316,15316
unique,9,28,41,293,11337,2,128,127,3,3
top,Beijing,Aquatics,Athletics,hockey,"PHELPS, Michael",Men,USA,United States,M,Bronze
freq,2042,2210,1523,817,16,9388,1992,1992,8817,5258

Observamos que dentro de las medidas resumen se encuentran los **Top** de cada categoria, es decir, aquellos datos que mas veces se repiten por cada columna. 
En la columna *Country* vemos que el pais con mayor cantidad de medallas obtenidas en todas las presentaciones de los JJOO es **Estados Unidos**.

# 4. Construir una tabla que muestre cuántas medallas obtuvieron los hombres en total en cada año que se realizó el evento.

Primero obtenemos la cantidad de medallas obtenidas por los Hombres en cada Año del evento

In [ ]:
df_medallas = df_olimpia_year

listaH_medallas_x_year = []
for i in range(1976,2012,4):
  # Para ello, filtramos por Año y por el Genero Men
  medallasxyear = df_medallas.loc[(df_medallas.index == i) & (df_medallas['Gender']=='Men')]
  # La funcion shape() nos otorga el valor de las filas y columnas. Guardamos el primer valor 
  medallas = medallasxyear.shape[0]
  # Adiciono a la lista cada valor obtenido
  listaH_medallas_x_year.append(medallas)

Adicionalmente obtenemos la cantidad de medallas obtenidas por las Mujeres en cada Año del evento

In [ ]:
listaM_medallas_x_year = []
for i in range(1976,2012,4):
  # Para ello, filtramos por Año y por el Genero Women
  medallasxyear = df_medallas.loc[(df_medallas.index == i) & (df_medallas['Gender']=='Women')]
  # La funcion shape() nos otorga el valor de las filas y columnas. Guardamos el primer valor 
  medallas = medallasxyear.shape[0]
  # Adiciono a la lista cada valor obtenido
  listaM_medallas_x_year.append(medallas)

Calculo del Total de medallas por Año

In [ ]:
lista_medallasTotal_x_year = []
for i in range(1976,2012,4):
  medallasxyear = df_medallas.loc[(df_medallas.index == i)]
  # La funcion shape() nos otorga el valor de las filas y columnas. Guardamos el primer valor 
  medallas = medallasxyear.shape[0]
  # Adiciono a la lista cada valor obtenido
  lista_medallasTotal_x_year.append(medallas)

**Creacion de la tabla solicitada**

In [ ]:
# Creamos indice de años
year = [i for i in range(1976,2012,4)]
# Creo el Data Frame con los años como indice y la lista de medallas obtenidas por Hombres
df_medallas_x_year = pd.DataFrame({'MEDALLAS OBTENIDAS POR HOMBRES':listaH_medallas_x_year},index=year)
df_medallas_x_year

      MEDALLAS OBTENIDAS POR HOMBRES
1976                             924
1980                             958
1984                             973
1988                            1011
1992                            1105
1996                            1082
2000                            1126
2004                            1099
2008                            1110

Adicionalmente quise hacer una comparativa de las medallas obtenidas por Hombres y Mujeres, como asi tambien el total por Año

In [ ]:
df_medallas_x_year = pd.DataFrame({'MEDALLAS OBTENIDAS POR HOMBRES':listaH_medallas_x_year,'MEDALLAS OBTENIDAS POR MUJERES':listaM_medallas_x_year, 'TOTAL': lista_medallasTotal_x_year},index=year)
df_medallas_x_year

      MEDALLAS OBTENIDAS POR HOMBRES  MEDALLAS OBTENIDAS POR MUJERES  TOTAL
1976                             924                             381   1305
1980                             958                             429   1387
1984                             973                             486   1459
1988                            1011                             535   1546
1992                            1105                             600   1705
1996                            1082                             777   1859
2000                            1126                             889   2015
2004                            1099                             899   1998
2008                            1110                             932   2042